.d-flex{
    height: 40rem;
}
.card{
    width: 60rem;
}
.circle{
    background-color: green;
    width: 15px;
    height: 15px;
    position: relative;
    top: 5px;
    left: -5px;
    border-radius: 100px;
}
.input-group{
height:33rem;
}